.cabecalho{
   background-color: peachpuff;
   color: hotpink;
   display: flex;
   padding: 30px ;
}

.sessao1{
    background-color: sienna;
    color: lightcoral;
    padding: 10px;
}

.sessao2{
    background-color: sienna;
    color: lightcoral;
    padding: 15px;
}

.morang-cabec{
    width: 100px;
    height: 100px;
}

.mcc{
    width: 80px;
    height: 80px;
}

.mcl{
    width: 80px;
    height: 80px;
}

.ucc{
    width: 80px;
    height: 80px;
}

.ucl{
    width: 80px;
    height: 80px;
}

.morang-rdp{
    width: 70px;
    height: 70px;
}

.rodape{
    background-color: sienna;
    color: lightsalmon;
    padding: 30px;
}

.prec{
    color: lightcoral;
    padding: 40px;
}

.wpp{
    background-color: var(--botao-lightcoral);
    border-radius: 5px;
    color: var(--botao-hotpink);
    display: block;
}

.bmc{
    color:lightcoral ;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.bmln{
    color: lightcoral;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.buc{
    color: lightcoral;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

.buln{
    color: lightcoral;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.inf{
    color: lightcoral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
}

.docesdamor{
    color: hotpink;
    font: italic;
    font-family: brush-script;
}