.cabecalho{
   background-color: #ffc0cb;
   color: hotpink;
   display: flex;
   padding: 40px 0;
}

.sessao1{
    background-color: sienna;
    color: lightcoral;
    padding: 10px;;
}

.sessao2{
    background-color: sienna;
    color: #ffc0cb
    padding: 10px;
}

.morang-cabec{
    width: 40%;
}

.mcc{
    width: 10%;
}

.mcl{
    width: 10%;
}

.ucc{
    width: 10%;
}

.ucl{
    width: 10%;
}

.morang-rdp{
    width: 8%;
}

.rodape{
    background-color: sienna;
    color: lightsalmon;
}